@model List<MVCShoeShop.Models.Shoe>;

@{
    ViewData["Title"] = "Shoe List";
}
<h1>@ViewData["Title"]</h1>

<table>
    <thead>
        <th> @* Table Header Row *@
            <td>Id</td>
            <td>Color</td>
            <td>Size</td>
        </th>
    </thead>
    <tbody>

        @foreach (Shoe shoe in Model) {

            <tr>
                <td>@shoe.Id</td>
                <td>
                    <a href="/home/shoedetails/@shoe.Id">
                        @shoe.Color
                    </a>
                </td>
                <td>@shoe.Size</td>
            </tr>

        }

    </tbody>
</table>

